@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 221, 228, 229;
  --background-rgb: 14, 20, 22;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
  font-family: var(--font-hanken), sans-serif;
}

@layer utilities {
  .font-mono {
    font-family: var(--font-jetbrains), monospace;
  }
  .font-sans {
    font-family: var(--font-hanken), sans-serif;
  }
}
